.calendar-container {
  width: 100%;
  max-width: 700px;
  margin: auto;
  font-family: sans-serif;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.calendar-day,
.calendar-day-name {
  padding: 8px;
  border: 1px solid #ccc;
  min-height: 60px;
  text-align: center;
}

.calendar-day.checked-in {
  background-color: #d1ffd6;
  border-color: #00a849;
  color: #000
}

.calendar-day.empty {
  background: transparent;
  border: none;
}

.allocation-details {
  margin-top: 20px;
  padding: 16px;
  background-color: #f2f2f2;
  border-radius: 6px;
  border: 1px solid #ccc;
  color: #000;
}

.calendar-day {
  cursor: pointer;
}
